html{
  background: url(http://i.imgur.com/cHDC1Nu.gif) no-repeat center center fixed;
  background-size: cover;
}
.all {
  height: 100vh;
}
.options{
  height: 200px;
}



.progress{
  width: 60%
}
.hidden {
    display: none;
}

body{
    background: transparent;
}
.joker{

}

.progress-bar {
  width: 100%
}


.dummy{

}

.status {
  background: ghostwhite;
  opacity: 0.5;
  color: black;
  margin: 20px;
  padding: 15px;
  text-align: center;
}