html{
  background: url(http://i.imgur.com/cHDC1Nu.gif) no-repeat center center fixed;
  background-size: cover;
}
.all {
  height: 100vh;
}
.options{
  height: 200px;
}
.punch{
  background: url(http://www.sniperdecals.com/images/Fist.png) no-repeat center center;
  background-size: contain;
}


.progress{
  width: 60%
}
.hidden {
    display: none;
}

body{
    background: transparent;
}
.joker{

}

.progress-bar {
  width: 100%
}

h1{;
  margin: 20px;
  text-align: :left;
  color: white;
}

h3{
  margin: 20px;
  padding: 15px;
  text-align: center;
  color: lightsteelblue;   
}

.dummy{
  /*background-size: 65%;
  position: absolute;
  bottom: 20px;
  padding-top: 2px;*/
}
